@model List<UsuarioModel>
@{
    ViewData["Title"] = "Listagem de Usuário";
}
    
<div class="container text-center">
<div class="text-end">
  <a role="button" class="btn btn-primary" asp-controller="Usuario" asp-action="Criar">Adicionar Usuário</a>
</div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert1" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
                @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success alert1" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br/>
  

<h1 class="display-4">Listagem de Usuário</h1>
<table class="table table-striped" id="table-usuarios">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Login</th>
      <th scope="col">E-mail</th>
      <th scope="col">Perfil</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                      <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Perfil</td>                        
                          <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="DeletarConfirmar">Deletar</a>            
                            </div>
                          </td>
                    </tr>
                }
            }
            
             else
             {
                <tr class="odd"><td valign="top" colspan="5">Nenhum usuário encontrado</td</tr>
             }
  </tbody>
</table>
</div>