@model ContatoModel

@{
    ViewData["Title"] = "Adicionar Cliente";
}
    
<div class="container text-center">
<h1 class="display-4">Cadastrar Cliente</h1>
</div>

<div class="container"> 
    <form asp-controller="Contato" asp-action="Criar" method="post">
  <div class="mb-3">
    <label for="nome" class="">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" id="" aria-describedby="Nome" placeholder="Digite o nome">    
    @Html.ValidationMessageFor(x => x.Nome)
  </div>

  <div class="mb-3">
    <label for="email" class="">E-mail</label>
    <input type="text" asp-for="Email" class="form-control" id="" aria-describedby="E-mail" placeholder="Digite o E-mail">    
    @Html.ValidationMessageFor(x => x.Email)
  </div>

  <div class="mb-3">
    <label for="celular" class="">Celular</label>
    <input type="text" asp-for="Celular" class="form-control" id="" aria-describedby="Celular" placeholder="Digite o Celular">    
    @Html.ValidationMessageFor(x => x.Celular)
  </div>

  <div class="mb-3">
    <label for="oredenServico" class="">Serviço</label>
    <input type="text" asp-for="Servico" class="form-control" id="" aria-describedby="Serviço" placeholder="Serviço">    
    @Html.ValidationMessageFor(x => x.Servico)
  </div>

  <div class="mb-3">
    <label for="servico" class="">Valor</label>
    <input type="text" asp-for="Valor" class="form-control" id="" aria-describedby="Valor do Serviço" placeholder="Valor do Serviço">   
    @Html.ValidationMessageFor(x => x.Valor)
  </div>
  
  <button type="submit" class="btn btn-primary">Adicionar</button>
  <a role="button" class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
</form>
</div>