@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Clientes";
}
    
<div class="container text-center">
<div class="text-end">
  <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Adicionar Cliente</a>
</div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert1" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
                @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success alert1" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
            @TempData["MensagemErro"]
        </div>
    }
    <div class="alert alert-success alert1" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
  A simple success alert—check it out!
</div>
<div class="alert alert-danger alert1" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
  A simple danger alert—check it out!
</div>

<h1 class="display-4">Listagem de Cliente</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Celular</th>
      <th scope="col">Ordem de Serviço</th>
      <th scope="col">Serviço Prestado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                      <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>@contato.Servico</td>
                        <td>@contato.Valor</td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="DeletarConfirmar">Deletar</a>            
                            </div>
                          </td>
                    </tr>
                }
            }
  </tbody>
</table>
</div>